{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Відновлення паролю{% endblock  %}

{% block content %}
<div class="row">
  <div class="col-4">
    <h2>Відновлення паролю</h2>
    {% if validlink %}
      <p>Заповніть поля нижче для зміни паролю.</p>
      <form method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <input type="submit" value="Змінити" class="btn btn-warning">
      </form>
    {% else %}
      <p>
        Посилання на відновлення паролю недійсне. 
        Скористайтесь сторінкою <a href="{% url 'password_reset' %}">відновлення паролю</a> 
      </p>
    {% endif %}
  </div>
</div>
{% endblock content %}