{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Зміна паролю{% endblock  %}

{% block content %}
<div class="row">
  <div class="col-4">
    <h2>Зміна паролю</h2>
    {% if form.errors %}
      <p>Помилка зміни паролю. Спробуйте ще раз.</p>
    {% else %}
      <p>Заповніть поля нижче для зміни паролю.</p>
    {% endif %}
    <form method="post">
      {{ form|crispy }}
      {% csrf_token %}
      <input type="submit" value="Змінити" class="btn btn-warning">
    </form>
  </div>
</div>
{% endblock content %}
