{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Відновлення паролю{% endblock  %}

{% block content %}
<div class="row">
  <div class="col-4">
    <h2>Відновлення паролю</h2>
    {% if form.errors %}
      <p>Помилка відновлення паролю. Спробуйте ще раз.</p>
    {% else %}
      <p>Введіть адресу електронної пошти для відновленню паролю.</p>
    {% endif %}
    <form method="post">
      {{ form|crispy }}
      {% csrf_token %}
      <input type="submit" value="Отримати лист" class="btn btn-warning">
    </form>
  </div>
</div>
{% endblock content %}