{% extends 'shop/base.html' %}
{% load static %}
{% load tags %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block content %}
  <h2>{{ product.name }}</h2>
  <h5><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h5>
  <div class="row">
    <div class="col-6">
      <p>
        <img src="{% if product.image %}
            {{ product.image.url }}
          {% else %}
            {% static 'img/no_image.png' %}
          {% endif %}"
          class="w-100" />
      </p>
      <form action="{% url 'cart:cart_add' product.id%}" method="post">
        {% csrf_token %}
        <p class="h5 text-center">
          <span class="border border-warning border-2 rounded p-1">{{ product.price }} ₴</span>
          <input type="submit" class="ms-2 mb-1 btn btn-warning fw-bold h-100" value="Купити">
        </p>
        <div class="text-center">
          {{ cart_product_form }}
        </div>
      </form>
    </div>
    <div class="col-6">{{ product.description|markdown }}</div>
  </div>
{% endblock %}