{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Каталог товарів{% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-3">
    <h4 class="my-3">Категорії</h4>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{% url 'shop:product_list' %}" class="nav-link {% if not category %}text-bg-warning{% endif %}">
          Усі товари
        </a>
      </li>
      {% for c in categories %}
      <li class="nav-item">
        <a href="{{ c.get_absolute_url }}" class="nav-link {% if category.slug == c.slug %}text-bg-warning{% endif %}">
          {{ c.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-9">
    <h4 class="my-3">
      {% if category %}{{ category.name }}{% else %}Каталог товарів{% endif %}
    </h4>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for product in products %}
      <div class="col">
        <div class="card h-100">
          <img src="
          {% if product.image %}
          {{ product.image.url }}
          {% else %}
          {% static 'img/no_image.png' %}
          {% endif %}" 
          class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.price }} ₴</p>
          </div>
          <div class="card-footer">
            <a href="{{ product.get_absolute_url }}" class="btn btn-warning">Відкрити</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}