{% extends "shop/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Оформлення замовлення{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-8">
      <h2>Замовлення</h2>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p><input type="submit" class="btn btn-warning" value="Підтвердити замовлення"></p>
      </form>
    </div>
    <div class="col-4 mt-3 border border-1 rounded">
      <h3>Товари</h3>
      <ul>
        {% for item in cart %}
          <li>{{ item.quantity }} x {{ item.product.name }} | {{item.total_price }} ₴</li>
        {% endfor %}
      </ul>
      {% if cart.coupon %}
        <p>До знижки: <strong>{{ cart.get_total_price|floatformat:2 }} ₴</strong></p>
        <p>Купон "{{ cart.coupon.code }}" на {{ cart.coupon.discount }}%: <strong>{{ cart.get_discount|floatformat:2 }} ₴</strong></p>
      {% endif %}
      <p>Усього: <strong>{{ cart.get_total_price_after_discount|floatformat:2 }} ₴</strong></p>
    </div>
  </div>
{% endblock content %}